html,
body {
    background-color: #ccc;
    font-family: "Roboto Mono", monospace;
}

h2 {
    font-size: 18px;
    margin: 0;
}

.table {
    background-color: rgb(39, 96, 102);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.table input {
    background-color: rgb(20, 113, 115);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
}

.table input:focus,
.table .tile-middle input:focus,
.table .tile-3w input:focus {
    background-color: #333;
    color: #fff;
}

.table label {
    font-family: monospace;
    padding: 0.75rem 0.5rem;
    color: #ddd;
    text-align: center;
    width: 100%;
}

.table .tile-middle input,
.table .tile-2w input {
    background-color: rgb(187, 143, 48);
}

.table .tile-3w input {
    background-color: rgb(181, 48, 54);
}

.table .tile-3l input {
    background-color: rgb(43, 117, 172);
}

.table .tile-2l input {
    background-color: rgb(99, 161, 194);
}
